@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "OverPass-SemiBold";
  src: url("../fonts/Overpass-SemiBold.ttf");
}

@font-face {
  font-family: "OverPass-Regular";
  src: url("../fonts/Overpass-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Globals Styles from Projects Page */

.contenedor:hover .imagen {-webkit-transform:scale(.9);transform:scale(.9);}
.contenedor {overflow:hidden;}

.imagen {
  width: 720px;
  height: 240px;
  object-fit: cover; /* Esto mantendrá la proporción y recortará si es necesario */
}

.sponsors {
  width: 13px;
  height: 5em;
  image-rendering: pixelated;
}

.projectsTitle {

  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  overflow: hidden;
  flex-direction: column;
  margin: 0 2em;
}

.bg-w-100 {
  width: 100%;
}

/* navbar.css */

